wstw:
    user: 'xxx@gmail.com'
    pwd:  'xxxx'
    apikey: 'afb0be74-6455-44f5-a34d-6994223020ba'
    startdate: '2022-06-01'
    
shelly:
    user: 'xxxxs@gmail.com'
    pwd:  'xxxxx'
    device:
        solar: 
            id: 'xxx'
            startdate: '2023-08-23'
        boiler: 
            id: 'xxxxx'
            startdate: '2023-09-01'
        workplace:
            id: 'xxxxxx'
            startdate: '2023-12-01'
        tv:
            id: 'xxxxxx'
            startdate: '2023-12-03'
    
database:
    url: postgres://user:pwd@host/dbname
